
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
}


.home_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-display{
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: flex-start;
}

.sidebar-search{
  display: flex;
  flex-direction: column;
  border: solid 1px hsl(0deg 0% 0% / 0.45);
  width: 25vw;
  height: calc(100vh - 50px);
  transform: none;
  transition: transform 225ms cubic-bezier(0,0,0.2,1) 0ms;
}
.hide{
  display: none;
}

.selected{
  background-color: blue;
  color: white;
}
.advanced-dropdown-items{
  display: flex;
  flex-direction: row;
}
.advanced-dropdown-subsection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* .home_intro p{
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.advanced-header{
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  width: 100vw
}

.results{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 75vh;
}

.home_intro a{
  text-decoration: none;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  color: black
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliding-search{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-search-tab{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;
  height: 40px;
  width: 20px;
  border: solid 1px black;
  transition: transform 1s; 
}

.sidebar-search-tab:hover{
  transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);

}

.search-btn{
  border: solid 1px black;
  border-radius: 10px;
  padding:10px;
  cursor: pointer;
}
.search-btns{
  display: flex;
  flex-direction: row;
}
.flower-img{
  height: 200px;
  width:200px;

}

.card{
  border: solid 1px black;
  border-right: solid 5px red;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

.shadow{
  box-shadow: 2.3px 4.6px 4.6px hsl(0deg 0% 0% / 0.45);
}

.layered-shadow{
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}



.card-content{
  display: flex;
  flex-direction: row;
}

.edit-btns-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-btns-group div{
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-btn{
  background-color: lightskyblue;
  color: white;
}

.delete-btn{
  background-color: red;
  color: white;
}


.hidden-check{
  position: absolute;
  left: -100vw;
}

.checkbox_label{
  border: solid 1px black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  line-height: 3;
}
.checkbox_label_checked{
  border:solid 1px black;
  border-radius: 10px;
  background-color: blue;
  color:white;
  padding: 10px;
  line-height: 3;
}
.checkbox-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;

}
.advanced-search{
  display: flex;
    flex-wrap: nowrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdown-check-label{
  border: solid 1px black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}
.search-field{
  display: flex;
  align-items: center;
}
.toplevel-search{
  display: flex;
  flex-direction: row;
}
.sidebar{
  width: 100% !important;
}
.advanced-search-hidden{
  display:none;
}
.adv-search-criteria-list{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  height:auto;
}
.adv-search-criteria-item{
  border: solid 1px black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.cancel{
  padding-left: 5px;
}

.hide-btn{
    border: solid 1px black;
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
}