
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.home_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* .home_intro p{
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.home_intro a{
  text-decoration: none;
  border: solid 1px black;
  border-radius: 10px;
  padding: 10px;
  color: black
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn{
  border: solid 1px black;
  border-radius: 10px;
  padding:10px;
  cursor: pointer;
}
.search-btns{
  display: flex;
  flex-direction: row;
}
.flower-img{
  height: 200px;
  width:200px;

}

.card{
  border: solid 1px black;
  border-right: solid 5px red;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}

.card-content{
  display: flex;
  flex-direction: row;
}

.edit-btns-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.edit-btns-group div{
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-btn{
  background-color: lightskyblue;
  color: white;
}

.delete-btn{
  background-color: red;
  color: white;
}


.hidden-check{
  position: absolute;
  left: -100vw;
}

.checkbox_label{
  border: solid 1px black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  line-height: 3;
}
.checkbox_label_checked{
  border:solid 1px black;
  border-radius: 10px;
  background-color: blue;
  color:white;
  padding: 10px;
  line-height: 3;
}
.checkbox-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

}
.advanced-search{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
}

.advanced-search-hidden{
  display:none;
}
.adv-search-criteria-list{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  height:auto;
}
.adv-search-criteria-item{
  border: solid 1px black;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}
.cancel{
  padding-left: 5px;
}
