{% extends 'frontend/components/base.html' %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_form %}
{% bootstrap_javascript %}


{% block content %}
  <section class="card mt-4 mb-4">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        <div class="mb-3">
          {% if form.username.errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.username.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          <label for="id_username" class="form-label">Username</label>
          <input type="text" id="id_username" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
          {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
          <label for="id_password" class="form-label">Password</label>
          <input type="password" id="id_password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Sign In</button>
      </form>
    </div>
  </section>
{% endblock %}