{% extends 'frontend/components/base.html' %}

{% load bootstrap5 %}
{% load frontend_template_tags %}
{% bootstrap_css %}
{% bootstrap_form %}
{% bootstrap_javascript %}

{% block content %}
  <section class="card mt-4 mb-4">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        {% bs_errors form.non_field_errors %}

        {% bs_form_field form.first_name %}
        {% bs_form_field form.last_name %}
        {% bs_form_field form.username %}
        {% bs_form_field form.email %}
        {% bs_form_field form.password 'password' %}
        {% bs_form_field form.password_confirmation 'password' %}

        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </section>
{% endblock %}